/* box.css */
.basket-container {
  background-color: black;
  padding: 20px;
  position: relative;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  width: calc(50% - 15px);
  height: 100px;
  background-color: lightgreen;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-symbol {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.location-symbol img {
  width: 24px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
}
