/* checkout.module.css */

body.checkout-page {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkout section {
  background: #ffffff;
  width: 400px;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

.checkout p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
}

.checkout #checkout {
  width: 100vw;
}
