.container {
    max-width: 20rem;
    margin: 0 auto;
    border: 1px solid #fff; /* Change border color */
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff; /* Change background color */
    color: #000; /* Change text color */
  }
  
  .cardcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .clockinfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .clockinfo div {
    font-family: monospace;
  }
  
  .button {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
    background: none;
    cursor: pointer;
    color: #000; /* Change text color */
  }
  