


/* .container {
  text-align: center;
} */

.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.tile {
  background-color: green;
  border: 2px solid lightgreen;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}

.tile-heading {
  font-weight: bold;
  
}

.tile-content {
  margin-top: 5px;
  color: white;
  
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Header img {
  margin-right: 10px;
}
